@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050510;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050510;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}

/* Seçim Rengi */
::selection {
  background: #bc13fe;
  color: white;
}